<!DOCTYPE html>
<html>
<head>
  <title>Project</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 


<div class="container">
	<div class="row">
		<div class="responses"></div>
		<div class="timer-bg">
			<div class="monitor">
				<div id="state">State: <%= @timer.state %></div>
				<div id="time">Time: <%= @time_difference %></div>
			</div>
			<div class="buttons">
				<button id="switch_on">ON</button>
				<button id="switch_off">OFF</button>
			</div>
		</div>
	</div>
</div>


<script>
	function getState(){return <%= @timer.state %>}
</script>
		
</body>
</html>
